.current-turn, .game-status {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.board-container {
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    .square {
        width: 100px;
        height: 100px;
        border: solid;
        font-size: 64px;
        display: flex;
        justify-content: center;
        cursor: pointer;

    }
}
